# Python cache
__pycache__/
*.pyc

# Raw datasets - DO NOT PUSH
ml_models/datasets/raw/

# Jupyter
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# Virtual environments
.venv/
venv/
env/

# Python environment files
*.egg-info/

# IDE
.vscode/

# Do NOT commit secrets
.env